@import './variables.scss';

#home{
    width: 100%;
    display: flex;
    flex-direction: column;

    #top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 30px;

        .col-sm-3{
            .card{
                padding: 20px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 1.5px 1.5px 1.5px 1.5px rgba($color: #d8d8d8, $alpha: .3);
                color: $background-white;
                border-color: transparent;
                .ant-typography{
                    color: $background-white;
                    margin: 0;
                }
                span{
                    border-bottom: 1px solid rgba($color: #ffffff, $alpha: .4);
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            &:nth-child(1){
                .card{
                    background-color: $info;
                }
            }
            &:nth-child(3){
                .card{
                    background-color: $success;
                }
            }
            &:nth-child(2){
                .card{
                    background-color: $warning;
                } 
            }
            &:nth-child(4){
                .card{
                    background-color: $danger;
                }
            }
        }
    }

    #table-chart{
        padding: 10px 30px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        #float-left{
            display: flex;
            max-height: 600px;
            flex-direction: column;
            padding: 10px;

            #priceChart{
                height: 450px !important;
                width: 100%;
            }
        }

        #float-right{
            .table{
                thead{
                    background-color: $info;
                    color: $background-white;
                    font-size: 14px;
                }
            }
        }
    }

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        #sBedroom{
            box-shadow: none;
            border-radius: 5px;
            border: 1px solid rgba($color: #d8d8d8, $alpha: .9) !important;
            margin: 0 !important;
        }
    }
}