@import './variables.scss';

#main{
    width: 100%;

    #formContainer{
        width: 800px;
        margin: 50px auto;

        .upload{
            height: 350px;
            border-color: $success !important;            
        }
    }
}
