#main{
    min-height: 100% !important;
    background: url('/report.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;

    #overlay{
        position: absolute; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom right, rgba(#46c5f2, .4),rgba(#ffb82c,.4));; /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }
    
    .row{
        position: relative;
        z-index: 10;
    }
}