@import './variables.scss';

.propStat{
    width: 100%;
    height: calc(100% - 135px) !important ;
    min-height: calc(100% - 135px) !important ;
}


.form-contr{
    margin-right: 20px;

    #areas{
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        width: 150px;
        box-shadow: 1px 1px 1px 1px rgba($color: #c6c6c6, $alpha: 0.2);
    
        input{
            border: 0 !important;
            &:before{
                border: none !important;
            }
        }
    }
}

.col-md-6{
    margin-bottom: 30px !important;
    .comparison{
        header{
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

#banner{
    background: url('/header_bg3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #content{
        width: 700px;
        position: relative;
        z-index: 10;

        .sub{
            color: $background-white !important;
            text-align: center !important;
        }
        
    }
    #overlay {
        position: absolute; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }

    .bannerH1{
        text-transform: capitalize !important;
        color: $background-white !important;
        text-align: center;
        font-size: 50px;
    }
}

#stats{
    width: 100% !important;
}