@import './variables.scss';

.propStat{
    width: 100%;
    height: calc(100% - 135px) !important ;
    min-height: calc(100% - 135px) !important ;
}


.form-contr{
    margin-right: 20px;

    #areas{
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        width: 150px;
        box-shadow: 1px 1px 1px 1px rgba($color: #c6c6c6, $alpha: 0.2);
    
        input{
            border: 0 !important;
            &:before{
                border: none !important;
            }
        }
    }
}

.col-md-6{
    margin-bottom: 30px !important;
    .comparison{
        header{
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

#stat-banner{
    background: url('/header_bg3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #content{
        width: 700px;
        position: relative;
        z-index: 10;

        .sub{
            color: $background-white !important;
            text-align: center !important;
        }
        
    }
    #overlay {
        position: absolute; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }

    .bannerH1{
        text-transform: capitalize !important;
        color: $background-white !important;
        text-align: center;
        font-size: 50px;
    }
}

#stats{
    width: 100% !important;

    #mainContent{
        width: 100% !important;
        min-width: 100% !important;
        padding: 20px;
        margin: 0 auto !important;
    
        #statList{

            width: 100% !important;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column !important;

            .statistics{
                padding: 10px !important;
                border-radius: 5px !important;
                width: 100% !important;
                margin: 20px 0 !important;
            }

            #controllers{
                width: inherit;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                justify-self: center;

                margin-top: 15px;

                .control{
                    border-radius: 10px !important;
                    padding: 10px 10px !important;
                    margin-right: 10px !important;
                    text-transform: uppercase;
                    text-align: center;
                    cursor: pointer !important;
                    position: relative;
                    display: inline-flex !important;
                    justify-content: center;
                    align-items: center;
                    width: 7.5%;
                    font-size: 75%;
                    font-weight: bold;

                    .tick{
                        position: absolute !important;
                        left: 10px !important;
                        display: inline-block !important;
                        padding: 3px;
                        border-radius: 50% !important;
                    }

                }

                #lekki{
                    background-image: linear-gradient(to bottom right, #ffb82c,  #ffb82c) !important;
                }
                
                #ikoyi{
                    background-image: linear-gradient(to bottom right, #ec4887,#ec4887) !important;
                }
                
                #vi{
                    background-image: linear-gradient(to bottom right, #875fc0,  #875fc0) !important;
                }
                
                #oniru{
                    background-image: linear-gradient(to bottom right,#46c5f2,#46c5f2) !important;
                }

                #ph{
                    background-image: linear-gradient(to bottom right, #f8869d,  #f8869d) !important;
                }
                
                #wuse{
                    background-image: linear-gradient(to bottom right, #ade05d,#ade05d) !important;
                }
                
                #jabi{
                    background-image: linear-gradient(to bottom right, #eeae14,  #eeae14) !important;
                }
                
                #utako{
                    background-image: linear-gradient(to bottom right,#565656,#565656) !important;
                }

                #maitama{
                    background-image: linear-gradient(to bottom right,#14ee94,#14ee94) !important;
                }
                
                #mabushi{
                    background-image: linear-gradient(to bottom right, #f71741,  #f71741) !important;
                }

                #asokoro{
                    background-image: linear-gradient(to bottom right,#17c39d,#17c39d) !important;
                }
            }

            #header_name{
                text-transform: uppercase !important;
                font-size: 14px;
                font-weight: bold;
            }
            #wrapper{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: $background-white;
                border-radius: 5px;
                box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
                margin: 20px 0;
                min-height: 400px !important;

                header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h5{
                        margin-right: 15px;
                    }

                    .ant-select-selector{
                        min-width: 100px;
                        margin: 0 10px ;
                    }

                    .filterItem.two{
                        margin-left: 10px !important;
                    }
                }

                #sCont{
                    
                    padding: 10px 10px 10px 20px;
                    margin: 20px 0px 20px 0;
                    flex: 6;
                    min-height: inherit !important;

                    #chartArea{
                        margin-top: 15px;
                    }

                }

                #asideBar{
                    
                    padding: 10px;
                    flex: 4;
                    width: 100%;
                   
                    min-height: inherit !important;


                    .heading{
                        font-weight: bold;
                        font-size: 13px;
                    }

                    .row{
                        margin: 15px 0 !important;

                        .one{
                            color: #a5a5a5;
                            font-weight: bold;
                        }

                        .col-md-3{
                            font-size: 13px;
                        }
                    }
                }
            }
        }

       
    }
    
    
}

#compare{
    margin-top: 50px !important;
    h4{
        text-transform: capitalize !important;
        font-size: 16px !important;
        font-weight: bold;
        margin: 20px 0 20px!important;
    }

    .row{
        .item{
            background-color: #fff !important;
            border-radius: 5px !important;
            box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
            padding: 20px 10px 10px !important;

            h5{
                text-transform: capitalize !important;
                font-size: 14px !important;
                font-weight: bold;
            }
            
            .row{
                .col-md-6{
                    margin-bottom: 0px !important;
                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        color: #fff !important;
                        padding: 15px !important;
                        border-radius: 5px !important;
                        
                        header{
                            margin-bottom: 10px !important;
                        }


                        h6{
                            font-size: 12px !important;
                            color: #fff !important;
                            margin: 0 !important;
                        }
                        span{
                            font-size: 11px !important;
                        }

                        .price{
                            padding: 10px;
                            background-color: rgba($color: #FFFFFF, $alpha: .3);
                            margin: 10px 0 20px !important;

                            p{
                                text-align: center;
                                font-size: 16px !important;
                                font-weight: bold !important;
                                margin: 0 !important;
                            }
                        }

                        .action{
                            border: 1.5px solid #ffffff !important;
                            text-align: center !important;
                            padding: 5px 10px !important;
                            cursor: pointer;
                        }
                    }
                }
                .mx{
                    background-color: #6692d9;
                }

                .mn{
                    background-color:    #f57f59;
                }
            }
        }
    }
}

@import './media_queries/stats.scss';