@import './variables.scss';

#banner{
    background: url('/support.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #content{
        width: 700px;
        position: relative;
        z-index: 10;
        
    }
    #overlay {
        position: absolute; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }

    .bannerH1{
        text-transform: capitalize !important;
        color: $background-white !important;
        text-align: center;
        font-size: 50px;
    }
}

#support{
    width: inherit;
    padding: 50px;
}

.supportCont{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header{
        border-bottom: 1px solid #c6c6c6;
        margin: 30px auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            text-transform: uppercase;
        }
    }
}