@import './variables.scss';

table{
    width: 100%;
    padding: 0 50px;
    background-color: transparent;

    tbody{
       tr{
           border: 1px solid rgba($color: #c6c6c6, $alpha: .3);
           cursor: pointer;
           
           td{
               padding: 15px;
               cursor: pointer;
               font-size: 14px;
           }
           .action-space{
                display: inline-flex;
                justify-content: space-between;

                button{
                    margin: 5px;
                }
            }
       }
    }
    thead{
        th{
            padding: 15px;
            font-size: 12px;
        }
    }
}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}